:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --secondary-bkg-color: #f5f4fa;
  --secondary-logo-color: #000000;
  --primary-telmail-color: rgba(255, 255, 255, 0.6);
  --additional-items-color: #afb1b8;
  --trns: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: relative;
  background-color: var(--secondary-text-color);
  border-bottom: 1px solid #ececec;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.contacts-icon {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-contacts__item:not(:last-child) {
    margin-bottom: 0;
  }
  .header-contacts__item:nth-child(1) {
    margin-right: 30px;
  }
}
.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-contacts__link {
  color: var(--title-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  -webkit-transition: color var(--trns);
  transition: color var(--trns);
}
@media screen and (min-width: 1200px) {
  .header-contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}
.header-contacts__link:hover .header-contacts__icon, .header-contacts__link:focus .header-contacts__icon {
  fill: var(--accent-color);
}
.header-contacts__icon-mail {
  margin-right: 10px;
  fill: var(--title-text-color);
  -webkit-transition: fill var(--trns);
  transition: fill var(--trns);
}
@media screen and (min-width: 1200px) {
  .header-contacts__icon-mail {
    width: 16px;
    height: 12px;
  }
}
.header-contacts__icon-phone {
  margin-right: 10px;
  fill: var(--title-text-color);
  -webkit-transition: fill var(--trns);
  transition: fill var(--trns);
}
@media screen and (min-width: 1200px) {
  .header-contacts__icon-phone {
    width: 10px;
    height: 16px;
  }
}

.menu-toggle {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover, .menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--trns);
  transition: -webkit-transform var(--trns);
  transition: transform var(--trns);
  transition: transform var(--trns), -webkit-transform var(--trns);
  display: none;
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.mobile-menu-link.current {
  font-weight: 500;
  color: #2196f3;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-contacts-link.accent {
  font-size: 27px;
  color: #2196f3;
}
@media screen and (min-width: 380px) {
  .mobile-contacts-link.accent {
    font-size: 34px;
  }
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .mobile-socials {
    gap: 10px;
  }
}

.mobile-socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-socials-item:not(:last-child) .mobile-socials-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__text {
  color: var(--secondary-logo-color);
}
.nav__link {
  display: block;
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__link {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__link {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 285px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 93px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .nav-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav-list__link--active {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .nav-list__link--active::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
@media screen and (min-width: 768px) {
  .nav-list__link--active {
    color: var(--accent-color);
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-list__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .nav-list__link {
    color: var(--primary-text-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    -webkit-transition: color var(--trns);
    transition: color var(--trns);
  }
}
@media screen and (min-width: 768px) {
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
  }
}
.hero {
  height: 400px;
  max-width: 480px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_sm@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_sm@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 118px 0;
  background-color: #2f303a;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_sm@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_sm@1x.jpg);
    max-width: 767px;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_sm@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_sm@2x.jpg);
    max-width: 767px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_md@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_md@1x.jpg);
    max-width: 1199px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_md@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_md@2x.jpg);
    max-width: 1199px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Img_lg@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img_lg@1x.jpg);
    max-width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Img_lg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img_lg@2x.jpg);
    max-width: 1600px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    height: 600px;
  }
}
.hero__title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  border: 0px;
  -webkit-transition: background-color var(--trns);
  transition: background-color var(--trns);
}
@media screen and (min-width: 1200px) {
  .button {
    min-width: 216px;
  }
}
.button:hover, .button:focus {
  color: var(--secondary-text-color);
  background-color: #188ce8;
}

.advantages {
  display: none;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.features__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
.features__text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.features-list__item {
  display: block;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features-list__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bkg-color);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .features-list__item {
    width: 450px;
  }
  .features-list__box {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features-list__item {
    width: 354px;
  }
  .features-list__item:nth-child(odd) {
    margin-right: 30px;
  }
  .features-list__box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    width: 270px;
  }
  .features-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .features-list__box {
    width: 270px;
  }
}

.work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
  }
}
.work__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work__item {
  margin-right: 30px;
}
.work__list .item:nth-child(3n) {
  margin-right: 0;
}
.work__item {
  position: relative;
}
.work__heading {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}
.team__title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
  }
}
.team__box-one, .team__box-three, .team__box-two, .team__box-four {
  margin-top: 30px;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.team__item {
  background-color: var(--secondary-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 0px) / 1);
        flex-basis: calc((100% - 0px) / 1);
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.team__item:nth-child(4n) {
  margin-right: 0;
}
.team:nth-child(2n) {
  background-color: var(--secondary-bkg-color);
}
.team__heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__position {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin-top: 10px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
  margin-top: 16px;
  gap: 10px;
}
.social__link {
  fill: var(--additional-items-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: fill var(--trns), border-radius var(--trns), background-color var(--trns);
  transition: fill var(--trns), border-radius var(--trns), background-color var(--trns);
}
.social__link:hover, .social__link:focus {
  fill: var(--secondary-text-color);
  border-radius: 50%;
  background-color: var(--accent-color);
}

.clients {
  padding: 60px 0;
}
.clients__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.clients__icon {
  fill: var(--additional-items-color);
  -webkit-transition: fill var(--trns);
  transition: fill var(--trns);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid var(--additional-items-color);
  border-radius: 4px;
  -webkit-transition: border var(--trns);
  transition: border var(--trns);
}
.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.address__mail, .address__tel {
  display: block;
  width: 231px;
  height: 21px;
  color: var(--primary-telmail-color);
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}
.address__mail {
  margin-bottom: 9px;
}
.address__list {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address__list {
    text-align: left;
  }
}
.address__text {
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  display: inline-block;
}
.address__link {
  text-align: center;
  display: block;
  width: 145px;
  height: 31px;
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .address__link {
    font-size: 26px;
    line-height: 1.19;
    margin: 0 0 20px 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .address__link {
    width: 154px;
    height: 28px;
    line-height: 1.16;
  }
}
.address__googlemap {
  display: block;
  width: 231px;
  height: 21px;
  margin-bottom: 9px;
  color: var(--secondary-text-color);
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer {
  padding: 60px 0 60px 0;
  background-color: #2f303a;
}

.footer-social {
  margin: 60px auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-social {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
    margin-right: 93px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
}
.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer-social__list {
    margin: 0;
  }
}
.footer-social__icon {
  fill: var(--secondary-text-color);
}
.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: border-radius var(--trns), background-color var(--trns);
  transition: border-radius var(--trns), background-color var(--trns);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}
.footer-social__list .footer-social__item {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-position: center;
}
.footer-social__list .footer-social__item + .footer-social__item {
  margin-left: 10px;
}
.footer-social__title {
  margin-top: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-signup {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}
.footer-signup__title {
  margin-top: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-signup__title {
    text-align: left;
  }
}
.footer-signup__form {
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer-signup__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer-signup__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0px;
  -webkit-transition: background-color var(--trns);
  transition: background-color var(--trns);
}
@media screen and (min-width: 1200px) {
  .footer-signup__btn {
    margin: 0 0 0 12px;
  }
}
.footer-signup__btn:hover, .footer-signup__btn:focus {
  color: var(--secondary-text-color);
  background-color: #188ce8;
}
.footer-signup__icon {
  margin-left: 10px;
  fill: var(--secondary-text-color);
}
.footer-signup__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: 1px solid transparent;
}
@media screen and (min-width: 480px) {
  .footer-signup__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-signup__input {
    width: 358px;
  }
}

.img {
  display: block;
  margin-bottom: 0;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  row-gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .portfolio__list {
    max-width: 326px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.portfolio__button {
  color: var(--primary-text-color);
  background-color: var(--secondary-bkg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: color var(--trns), border-radius var(--trns), background-color var(--trns), -webkit-box-shadow var(--trns);
  transition: color var(--trns), border-radius var(--trns), background-color var(--trns), -webkit-box-shadow var(--trns);
  transition: color var(--trns), border-radius var(--trns), box-shadow var(--trns), background-color var(--trns);
  transition: color var(--trns), border-radius var(--trns), box-shadow var(--trns), background-color var(--trns), -webkit-box-shadow var(--trns);
}
.portfolio__button:hover, .portfolio__button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__title {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
.portfolio__item + .portfolio__item {
  margin-right: 0;
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.cards-list__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .cards-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 768px) {
  .cards-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.cards-list__link {
  display: block;
}
@media screen and (min-width: 768px) {
  .cards-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.cards-list__link:hover, .cards-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards-list__item:nth-child(3n) {
  margin-right: 0;
}
.cards-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.cards-list__border {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}
@media screen and (min-width: 768px) {
  .cards-list__border {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.cards-list__heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.cards-list__paragrah {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.cards-list__link {
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--trns);
  transition: -webkit-box-shadow var(--trns);
  transition: box-shadow var(--trns);
  transition: box-shadow var(--trns), -webkit-box-shadow var(--trns);
}
.cards-list__overlay {
  position: relative;
  overflow: hidden;
}
.cards-list__overlay::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--trns);
  transition: -webkit-transform var(--trns);
  transition: transform var(--trns);
  transition: transform var(--trns), -webkit-transform var(--trns);
}
.cards-list__text {
  position: absolute;
  top: 0;
  width: 322px;
  padding: 63px 24px;
  opacity: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--trns);
  transition: -webkit-transform var(--trns);
  transition: transform var(--trns);
  transition: transform var(--trns), -webkit-transform var(--trns);
}
.cards-list__link:hover .cards-list__text {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.cards-list__link:hover .cards-list__overlay::before {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  overflow-y: scroll;
  -webkit-transition: opacity var(--trns), visibility var(--trns);
  transition: opacity var(--trns), visibility var(--trns);
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop--is-hidden .hero-modal-button {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}
.backdrop__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--secondary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  padding: 0;
  -webkit-transition: fill var(--trns), cursor var(--trns);
  transition: fill var(--trns), cursor var(--trns);
}
.backdrop__button:hover {
  fill: var(--accent-color);
  cursor: pointer;
}

.hero-modal-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 95%;
  height: 609px;
  background-color: var(--secondary-text-color);
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--trns);
  transition: -webkit-transform var(--trns);
  transition: transform var(--trns);
  transition: transform var(--trns), -webkit-transform var(--trns);
}
@media screen and (min-width: 480px) {
  .hero-modal-button {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-modal-button {
    width: 528px;
    height: 581px;
  }
}
.form-textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.submit-button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .form__title {
    font-size: 20px;
    line-height: 1.15;
  }
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.form__label + .form__label {
  margin-top: 10px;
}
.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--trns), cursor var(--trns);
  transition: border-color var(--trns), cursor var(--trns);
  outline: 1px solid transparent;
}
.form__input:not(:last-child) {
  padding: 11px 10px 11px 42px;
}
.form__input:hover, .form__input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: var(--accent-color);
}
.form__label-name {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  -webkit-transition: fill var(--trns);
  transition: fill var(--trns);
}
.form__input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  visibility: hidden;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}
.form__input-checkbox:checked + .form__label-checkbox .form__checkbox-custom {
  fill: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-radius: 2px;
  border: none;
}
.form__label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__checkbox-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
  fill: transparent;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  width: 16px;
  height: 15px;
  -webkit-transition: fill var(--trns), background-color var(--trns);
  transition: fill var(--trns), background-color var(--trns);
}
.form__checkbox-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form__checkbox-text {
  height: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .form__checkbox-text {
    height: 24px;
    font-size: 14px;
    line-height: 1.71;
  }
}
.form__checkbox-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .form__checkbox-link {
    height: 24px;
    font-size: 14px;
    line-height: 1.71;
  }
}

::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 6px;
}

::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 6px;
}

:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 6px;
}

::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 6px;
}

::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 6px;
}/*# sourceMappingURL=main.css.map */