.hero__title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;

  @media screen and (min-width: 1200px) {
    max-width: 696px;

    font-size: 44px;
    line-height: 1.36;
  }
}
